[object Object]html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}

@media all and (max-width: 425px) {
  .heading-1 {
    font-size: 1.5em;
  }
}

:root {
  --primary: #4fb3a2;
  --primary-transparent: #050607c7;
  --blue: #C9DBE4;
  --deep-grey: #333;
  --dark: #050607;
  --transition-hover: all .2s ease-out;
  --LightSlateGrey: #98b2ba;
  --white: #f5f5f5;
  --deep-red: #6d0c14;
  --dark-overlay: linear-gradient(to right top, #0003078a, #0003078a, #0003078a, #0003078a, #0003078a);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99;
  background: #fff;
}

#main {
  -webkit-transition: margin-right .7s;
  transition: margin-right .7s;
}

#open {
  font-size: 30px;
  cursor: pointer;
  color: var(--white);
  display: none;
}

@media all and (max-width: 768px) {
  #open {
    display: block !important;
  }
}

#close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

img {
  width: 100%;
}

#cta {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
}

#cta .container .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

#cta .container .row h1 {
  padding-top: 1.4rem;
}

#cta .bg-1 {
  overflow: hidden;
  background-image: var(--dark-overlay), url(../assets/img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  -webkit-transition: .45s ease all;
  transition: .45s ease all;
}

#cta .bg-2 {
  background-image: var(--dark-overlay), url(../assets/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  -webkit-transition: .45s ease all;
  transition: .45s ease all;
}

#cta .bg-3 {
  background-image: var(--dark-overlay), url(../assets/img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  -webkit-transition: .45s ease all;
  transition: .45s ease all;
}

#cta .bg-4 {
  background-image: var(--dark-overlay), url(../assets/img/bg4.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  -webkit-transition: .45s ease all;
  transition: .45s ease all;
}

#cta .bg-5 {
  background-image: var(--dark-overlay), url(../assets/img/bg5.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  -webkit-transition: .45s ease all;
  transition: .45s ease all;
}

#cta .bg-6 {
  background-image: var(--dark-overlay), url(../assets/img/bg6.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  -webkit-transition: .45s ease all;
  transition: .45s ease all;
}

#cta .bg-7 {
  background-image: var(--dark-overlay), url(../assets/img/bg7.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  -webkit-transition: .45s ease all;
  transition: .45s ease all;
}

#banner {
  color: var(--white);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 100%;
}

#banner .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#banner .row h1 {
  font-size: 3rem;
}

@media screen and (max-width: 650px) {
  #banner .row h1 {
    font-size: 1.35rem;
  }
}

#banner .row p {
  line-height: 40px;
  font-weight: 200;
  font-size: 1.5rem;
}

@media screen and (max-width: 650px) {
  #banner .row p {
    font-size: 1rem;
    line-height: 20px;
  }
}

#partners {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#partners .container .container .row .partners {
  margin-bottom: 2rem;
}

#partners .container .action-btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#question {
  height: auto;
  background-image: var(--dark-overlay), url(../assets/img/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 4.3rem;
  padding-top: 4.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white);
}

#question .row .card {
  border: none;
  background: transparent;
}

#question .row .card .card-header,
#question .row .card .card-footer {
  border: none;
  background: transparent;
}

#counts {
  width: 100%;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url(../assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#counts h1,
#counts h3 {
  padding: 2.4rem;
}

#counts .numbers-count {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

#counts .numbers-count .card {
  background: transparent;
  width: 100%;
  color: var(--white);
  border: none;
}

#counts .numbers-count .card h1 {
  font-size: 4rem;
}

#contacts {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: var(--dark-overlay), url(../assets/img/bg5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white);
  font-weight: 600;
}

#contacts .row {
  padding-top: 2.34rem;
  padding-bottom: 2.34rem;
}

#donate {
  height: 100%;
}

#donate .row {
  height: inherit;
}

#donate .row .card-image {
  padding: 5rem;
}

#donate .row .card-image img {
  -webkit-box-shadow: 0 40px 100px rgba(0, 0, 0, 0.15), 0 25px 80px rgba(0, 0, 0, 0.1);
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.15), 0 25px 80px rgba(0, 0, 0, 0.1);
}

#donate .row .card {
  background: transparent;
  border: none;
  padding: 5rem;
}

#donate .row .card .card-header {
  background: transparent;
  border: none;
}

#publication {
  height: auto;
  background-image: var(--dark-overlay), url(../assets/img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white);
}

#publication .container .row {
  margin-top: 2rem;
}

#publication .container .row .card {
  background: transparent;
  color: inherit;
  border-radius: 0;
  border: none;
}

#publication .container .row .card .card-header {
  border: none;
  background: transparent;
}

#testimonial {
  width: 100%;
  position: relative;
  height: auto;
}

#testimonial .container-fluid {
  top: 0;
  left: 0;
  right: 0;
}

#testimonial .container-fluid .row {
  height: auto;
  color: var(--white);
}

#testimonial .container-fluid .row .side-one {
  background: url(../assets/img/background2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#testimonial .container-fluid .row .side-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  padding: 6rem;
}

nav {
  background: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
}

nav .navbar-brand {
  width: 50px;
  height: auto;
}

nav .navbar-brand img {
  width: 100%;
}

nav .navbar-nav {
  margin: 0 auto;
}

nav .navbar-nav .dropdown-menu {
  top: 135%;
  border-radius: 0;
  background-color: #741717;
  width: auto !important;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-rule: #333 solid 2px;
  -moz-column-rule: #333 solid 2px;
  column-rule: #333 solid 2px;
}

nav .navbar-nav .dropdown-menu a {
  color: var(--white);
}

nav .navbar-nav .nav-item {
  font-size: 100%;
}

nav .navbar-nav .nav-item .nav-link {
  color: var(--white) !important;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media all and (max-width: 999px) {
  nav .navbar-nav {
    display: none;
  }
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.side-nav li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.side-nav li a:hover {
  color: #f1f1f1;
}

#fancy-box {
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#fancy-box .parent {
  overflow: hidden;
}

#fancy-box .parent:hover .bg-1,
#fancy-box .parent:focus .bg-1 {
  background-size: 175%;
}

#fancy-box .parent:hover .bg-2,
#fancy-box .parent:focus .bg-2 {
  background-size: 175%;
}

#fancy-box .parent:hover .bg-3,
#fancy-box .parent:focus .bg-3 {
  background-size: 175%;
}

#fancy-box .parent:hover .bg-4,
#fancy-box .parent:focus .bg-4 {
  background-size: 175%;
}

#fancy-box .parent:hover .bg-5,
#fancy-box .parent:focus .bg-5 {
  background-size: 175%;
}

#fancy-box .parent:hover .bg-6,
#fancy-box .parent:focus .bg-6 {
  background-size: 175%;
}

#fancy-box .parent:hover .bg-7,
#fancy-box .parent:focus .bg-7 {
  background-size: 175%;
}

#fancy-box .fancy-box {
  overflow: hidden;
  height: 400px;
  color: var(--white);
  border-radius: 0;
  position: relative;
  font-weight: 100;
  margin-bottom: 2rem;
}

footer {
  height: auto;
  padding-top: 4rem;
  background-color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

footer .footer-content .row .card {
  background: transparent;
  color: #fff;
  border: none;
  margin-bottom: 1.5rem;
}

footer .footer-content .row .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .row .card .card-footer i {
  margin-left: 1rem;
}

footer .footer-content .row .card .card-footer i:hover {
  color: var(--primary);
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
}

footer .footer-content .row .card .card-body .list-group .list-group-item {
  background: transparent;
  border: none;
  padding: .3rem;
}

footer .footer-content .row .card .card-body .list-group .list-group-item a {
  color: #fff;
}

footer .footer-content .row .card .card-body .list-group .list-group-item a:hover {
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
  color: var(--primary);
}

footer .foot-note {
  width: 100%;
  background: var(--deep-red);
  color: #fff;
  padding-right: 2rem;
  padding-left: 4rem;
  padding-top: 2rem;
  height: auto;
}

footer .foot-note .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

footer .top {
  background: var(--deep-grey);
  border: 2px solid var(--deep-grey);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 5%;
  bottom: 8%;
  position: fixed;
}

footer .top i {
  color: #fff;
}

#top {
  background: url(../assets/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
