#cta {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 100%;

    .container {

        .row {
            justify-content: center;
            align-items: center;
            width: 100%;

            h1 {
                padding-top: 1.4rem;
            }
        }

        #fancy-box {
            .card {
                background-color: red;
                border: none;
            }
        }
    }
}

#testimonial {
    width: 100%;
    position: relative;
    height: auto;
    // padding-top: 4rem;
    // padding-bottom: 4rem;

    .container-fluid {
        // position: absolute;
        top: 0;
        left: 0;
        right: 0;


        .row {
            height: auto;
            color: var(--white);

            .side-one {
                background: url(../assets/img/background.jpg) no-repeat;
                background-size: cover;
                // background-attachment: fixed;
                background-position: center;
                padding: 8rem;
                // color:
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .side-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #333;
                padding: 6rem;
            }
        }
    }
}

#partners {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .container {
        .action-btn {
            justify-content: center;
            align-items: center;
        }
    }
}

#counts {
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url(../assets/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1,
    h3 {
        padding: 2.4rem;
    }

    .numbers-count {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

        .card {
            background: transparent;
            width: 100%;
            color: var(--white);
            border: none;

            h1 {
                font-size: 4rem;
            }
        }
    }

}