#donate {
    height: 100%;
    background-color: var(--white);
    margin: 0;

    .row {
        height: inherit;

        .card-image {
            padding: 5rem;

            img {
                box-shadow: 0 40px 100px rgba(0, 0, 0, 0.15),
                    0 25px 80px rgba(0, 0, 0, 0.1);
            }
        }


    }
}