html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  @include body-font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 99;

  overflow-x: hidden;
  position: relative;
}

#main {
  transition: margin-right 0.7s;
  overflow-x: hidden;
  border: #444 solid 2px;
}

.text-underline {
  text-decoration: underline;
}

#open {
  font-size: 30px;
  cursor: pointer;
  color: var(--white);
  display: none;

  @media all and (max-width: 999px) {
    display: block !important;
  }
}

#close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #444;
}

.dark {
  background-color: var(--dark);
  color: var(--white);
}

.white-bg {
  color: var(--dark);
  background-color: var(--white) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  color: var(--white);
  transition: var(--transition-hover);

  &:hover {
    color: var(--deep-green);
    font-weight: 300;
  }
}

.banner_homepage {
  background: url(../assets/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.banner_page_2 {
  background: url(../assets/img/background4.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.banner_page_3 {
  background: url(../assets/img/background7.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.banner_page_4 {
  background: url(../assets/img/background8.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.banner_page_5 {
  background: url(../assets/img/background9.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.banner_page_6 {
  background: url(../assets/img/background11.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.banner_page_7 {
  background: url(../assets/img/background11.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.banner_page_8 {
  background: url(../assets/img/background11.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}