html {
  scroll-behavior: smooth;
}

body {
  @include body-font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 99;
  // background: #6d0c14;
  overflow-x: hidden;
}

#main {
  transition: margin-right .7s;
  overflow-x: hidden;
  border: #444 solid 2px;

}

.text-underline {
  text-decoration: underline;
}

#open {
  font-size: 30px;
  cursor: pointer;
  color: var(--white);
  display: none;

  @media all and (max-width:999px) {
    display: block !important;
  }
}

#close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

img {
  width: 100%;
}