#teams {
    background-color: var(--dark);
    color: var(--white);

    .container-fluid {
        margin: 0;
        padding: 0;
    }

    .row:nth-child(1) {


        align-items: center;
        line-height: 50px;

        h1 {
            font-size: 1.5rem;
        }
    }

    .row {
        padding: 0;
        margin: 0;

        [class^="col"] {
            padding: 0;
            height: 300px;

            img {
                height: 100%;

            }

        }
    }



}