#testimonial {
    width: 100%;
    position: relative;
    height: auto;


    .container-fluid {
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--white);

        .row {
            height: auto;
            color: var(--white);

            .side-one {
                background-image: var(--dark-overlay), url(../assets/img/background2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding: 8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: var(--transition-hover);

                &:hover {
                    background-size: 150%;
                }
            }

            .side-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #333;
                padding: 6rem;

                @media all and (max-width:480px) {
                    padding: 3rem;
                }
            }
        }
    }
}