// Variables

// Restated Bootstrap Variables
:root {

    --primary-transparent: #050607c7;
    --blue: #024873;
    --deep-blue: #024873;
    --deep-grey: #333;
    --light-grey: #a1a1a1;
    --light-slight-grey: #b6b4b459;
    --dark: #050607;
    --transition-hover: all .2s ease-out;
    --LightSlateGrey: #98b2ba;
    --white: #fff;
    --light-green: #73FBD3;
    --deep-green: #04D98B;
    --dark-overlay: linear-gradient(to right top, rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5));
    --dark-overlay-card: linear-gradient(to right top, rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5));
    --box-shadow_light: 0 .5rem 1rem rgba(0, 0, 0, .15);
    --box-shadow_green: 0 .5rem .5rem rgba(4, 217, 139, 0.123);
}