// Variables

// Restated Bootstrap Variables
:root {
    --primary: #68ddb6;
    --primary-transparent: #050607c7;
    --blue: #2b90c3;
    --deep-grey: #333;
    --light-grey: #a1a1a1;
    --light-slight-grey: #a1a1a188;
    --dark: #050607;
    --transition-hover: all .2s ease-out;
    --LightSlateGrey: #98b2ba;
    --white: #fff;
    --deep-red: #6d0c14;
    --light-red: #ff3269;
    --dark-overlay: linear-gradient(to right top, #000307b6, #000307b6, #000307b6, #000307b6, #000307b6);
    --dark-overlay-card: linear-gradient(to right top, #00030783, #00030783, #00030783, #00030783, #00030783);
}

// Cadet Blue: #4fb3a2
// Light Steel Blue: #C9DBE4
// Dark Slate Grey: #050607
// Light Slate Grey: #98b2ba