// Core variables and mixins

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}

.heading-1 {
  @media all and (max-width: 425px) {
    font-size: 1.5em;
  }
}

@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "main.scss";
@import "cta.scss";
@import "banner.scss";
@import "partner.scss";
@import "question.scss";
@import "count.scss";
@import "contact.scss";
@import "focus.scss";
@import "donate.scss";
@import "publication.scss";
@import "testimonial.scss";
@import "teams.scss";

// Components
@import "components/navigation.scss";
@import "components/fancy-box.scss";
@import "components/footer.scss";
@import "components/carousel.scss";
@import "components/card.scss";
@import "components/button.scss";
@import "components/flip-card.scss";
@import "components/hover-card_effect.scss";
@import "components/card-variant.scss";
@import "components/side_card.scss";
@import "components/loading_div.scss";
@import "components/animations.scss";
@import "components/popup.scss";

#top {
  background: url(../assets/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}