.card.card-variant {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card-body {
        padding: 3rem;

        h6 {
            padding-bottom: 1.5rem;
        }
    }

    .card-footer {
        padding-bottom: 2rem;

    }
}

.card.card-variant-2 {
    height: 400px;

    .card-body {
        padding: 2.5rem;

        h6 {
            padding-bottom: 1.5rem;
        }
    }

    .card-footer {
        padding-bottom: 2rem;

    }


}

.card.card-variant,
.card.card-variant-2 {
    transition: all .1s linear;
    box-shadow: var(--box-shadow_green);
    background-color: var(--deep-green) !important;


    &:hover {

        box-shadow: var(--box-shadow_light);
        color: var(--white);
    }

    .primary {
        border: solid 2px var(--white);
        color: var(--white);
    }
}