 .container {
     .row {
         margin-top: 2rem;

         .card {
             background: transparent;
             color: inherit;
             border-radius: 0;
             border: none;

             @media all and (max-width: 600px) {
                 margin-bottom: 3rem;
             }

             .card-header {
                 border: none;
                 background: transparent;
             }

             .card-title {
                 color: var(--white);
             }

             .card-footer {
                 background: transparent;
                 border: none;
             }
         }
     }
 }

 .container-fluid {
     background-color: var(--dark);

     .row {
         margin-top: 2rem;

         .card {
             background: transparent;
             color: inherit;
             border-radius: 0;
             border: none;
             color: var(--white);

             .card-header {
                 border: none;
                 background: transparent;


             }



             .card-footer {
                 background: transparent;
                 border: none;
             }
         }
     }
 }