.card-variant {
    background: var(--light-grey) !important;
    padding: 3rem;
    height: 400px;

}

.card-variant-2 {
    background: var(--light-slight-grey) !important;
    padding: 3rem;
    height: 400px;
}