.fancy-box_parent {
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--white);



    .fancy-box {
        overflow: hidden;
        height: 400px;
        color: var(--white);
        border-radius: 0;
        position: relative;
        font-weight: 100;
        margin-bottom: 2rem;
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;


        &::after {
            content: "";
            display: block;
            width: 0%;
            background: var(--white);
            height: 5px;
            transition: var(--transition-hover);
            position: absolute;
            bottom: 0;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .parent {
        overflow: hidden;

        &:hover .bg-1,
        &:focus .bg-1 {
            background-size: 175%;
        }

        &:hover .bg-2,
        &:focus .bg-2 {
            background-size: 175%;
        }

        &:hover .bg-3,
        &:focus .bg-3 {
            background-size: 175%;
        }

        &:hover .bg-4,
        &:focus .bg-4 {
            background-size: 175%;
        }

        &:hover .bg-5,
        &:focus .bg-5 {
            background-size: 175%;
        }

        &:hover .bg-6,
        &:focus .bg-6 {
            background-size: 175%;
        }

        &:hover .bg-7,
        &:focus .bg-7 {
            background-size: 175%;
        }
    }
}