#fancy-box {
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;


    .parent {
        overflow: hidden;

        &:hover .bg-1,
        &:focus .bg-1 {
            background-size: 175%;
        }

        &:hover .bg-2,
        &:focus .bg-2 {
            background-size: 175%;
        }

        &:hover .bg-3,
        &:focus .bg-3 {
            background-size: 175%;
        }

        &:hover .bg-4,
        &:focus .bg-4 {
            background-size: 175%;
        }

        &:hover .bg-5,
        &:focus .bg-5 {
            background-size: 175%;
        }

        &:hover .bg-6,
        &:focus .bg-6 {
            background-size: 175%;
        }

        &:hover .bg-7,
        &:focus .bg-7 {
            background-size: 175%;
        }


    }

    .fancy-box {
        overflow: hidden;
        height: 400px;
        color: var(--white);
        border-radius: 0;
        position: relative;
        font-weight: 100;
        margin-bottom: 2rem;




    }
}