nav {
    background: var(--dark);
    padding: 0;
    ;

    .navbar-brand {
        width: 8rem;
        height: 6rem;
        padding: 0;
        background-image: url(../assets/img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120%;
        overflow: hidden;

        &:hover {
            background-size: 100%;
        }

        img {
            width: auto;
            height: 100%;
        }

    }

    .nav-item {
        position: relative;
        font-size: 100%;

        // background-color: red;
        &::after {
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            background: var(--primary);
            transition: var(--transition-hover);
            // position: absolute;


        }

        &:hover::after {
            width: 100%;

        }



        .nav-link {
            color: var(--white) !important;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            width: auto;
            margin: 0 6px;



        }

        .active {
            color: red !important;
        }

        @media all and (max-width:999px) {
            display: none;
        }
    }


}

.navbar-nav {
    margin: 0 auto;

    .dropdown-toggle {
        &::after {
            display: none;
        }
    }

}



#dropdown {


    h6 {
        text-align: center;
        font-size: .856rem;
        padding: .6rem;
    }

}

.dropdown-menu {
    top: 170%;
    border-radius: 0;
    background-color: var(--deep-green);
    width: auto !important;
    border: none;

    text-align: center;
    transition: var(--transition-hover);


    .dropdown-item {}

    // padding-left: 4rem;
    // display: flex;
    a {
        color: var(--white);
        transition: var(--transition-hover);


        &:hover {
            color: var(--primary);
        }
    }

    color: var(--primary);


}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--light-green);
    overflow-x: hidden;
    padding-top: 60px;
    transition: all .5s ease-out;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    ul {
        text-align: center;
        // opacity: 0;
        // visibility: hidden;
        // transform: translateX(-800px);
        animation: fadeIn 1.2s 1 forwards;
        animation-delay: 1s;
    }



    li {
        font-size: 25px;
        // opacity: 0;

        a {

            padding: 8px 8px 8px 32px;
            text-decoration: none;

            color: #818181;
            transition: 0.3s;



            &:hover {
                color: #f1f1f1;
            }
        }
    }

    li:nth-child(1) {
        opacity: 1;

    }

    li:nth-child(2) {
        opacity: 1;
    }

    li:nth-child(3) {
        opacity: 1;
    }

    li:nth-child(4) {
        opacity: 1;
    }

    li:nth-child(5) {
        opacity: 1;
    }


}