.popup {
    background: var(--primary-transparent);
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-hover);

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        // color: #fff;
        background: var(--white);
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media all and (max-width: 480px) {
            width: 100%;
        }

        .contact_alternative {
            p {
                a {
                    color: var(--dark);
                }
            }
        }
    }

    .card {
        border: none;
        border-radius: 0;
        color: var(--dark);
        height: 100%;
        width: 65%;
        padding: 1.2rem;


        @media all and (max-width: 480px) {
            width: 100%;
        }

        .card-header {
            background: transparent;
            border: none;
            padding: 1rem;
        }

        .card-body {
            padding: 2rem;
        }

        .card-footer {
            background: transparent;
            border: none;
            padding: 1.5rem;



            @media all and (max-width: 480px) {
                margin-top: 0;
            }
        }
    }
}