.side-card {
    height: auto;
    margin-bottom: 4rem;
    ;

    .container {
        .row {
            align-items: center;
        }
    }

    .side-card_image {
        height: 500px;

        img {
            height: 100%;
            ;
        }
    }
}