.text-slant {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 242, 137, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
    transition: var(--transition-hover);


    &:hover {
        letter-spacing: .2rem;
        transform: skewX(2deg) skewY(-2deg) scale(1.1);
    }

}

.text-slant_neutral {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 242, 137, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
    transition: var(--transition-hover);

}

.coming-soon_content {
    height: inherit;
    justify-content: center;
    align-items: center;

    .card {
        padding-top: 5.5rem;

        .card-body {
            h1 {
                font-size: 8rem;

                @media all and (max-width:480px) {
                    font-size: 3rem;
                }
            }
        }
    }
}